.status{
/* flex: 4; */
width: 100%;
box-sizing: border-box;
}
.status-container{
width: 100%;
background-color: #fff;
display: flex;
padding: .8rem;
border: 1px solid #ddd;
border-radius: 10px;
}
.status-left{
    margin-right: .5rem;
}
.status-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
.status-right-top textarea{
    width: 100%;
    resize: none;
    height: 100px;
    font-size: 1.4rem;
    padding: .2rem;
}
.status-right-bottom{
    margin-top: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-right-bottom-left{
    display: flex;
    /* align-self: flex-end; */
}
.status-right-bottom-left label input[type = 'file']{
display:none;
}
.status-right-bottom-left > label{
    display: flex;
    align-items: center;
    margin-right: .8rem;
    cursor: pointer;
}
.status-right-bottom-right button{
    padding: .6rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary);
    color: #fff;
}
.status-right-bottom-right button:hover{
    background-color: var(--gray-dark);
}