.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdfdfd;
    font-size: 1rem;
}

.login-container {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50vh; */
    width: 100%;
    max-width: 490px;
    padding: 50px 25px;
    background: #fff;
}

.login-title {
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.login-form {
    margin: 2rem 0;
}

.login-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: .8rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray);
}

.login-form input:last-child {
    margin-bottom: 0;
}

.login-form label {
    display: inline-block;
    margin-bottom: .5rem;
}

.login-button {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--secondary);
    border: none;
    color: var(--light);
    font-size: 1rem;
    margin: .3rem 0;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--gray-dark);
}

.login-container p {
    margin: 0.5rem 0;
}

.loginLink {
    color: rgb(61, 113, 156);
    text-decoration: none;
}

.login-container .googleLogin {
    width: 100%;
    padding: .4rem .9rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de5246;
    color: white;
    cursor: pointer;
}

.login-container .googleLogin p {
    margin-left: 1rem;
    font-size: 1rem;
}

@media screen and (max-width:500px) {
    .login-title {
        font-size: 1.2rem;
    }
}