.home{
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.home-container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}
.home-bottom{
    display: flex;
    margin-top: 1rem;
}
.home-bottom-left{
    flex: 4;
}
.home-bottom-right{
    flex: 2;
}
@media screen and (max-width:900px){
    .home-bottom-right{
        display: none;
    }
}